<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Boxicons -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/css/notfound.css">

        <title>404 | Not Found</title>
    </head>
    <body>

        <div class="content">
            <div class="text">
                <h1>404</h1>
                <h2>Sheeesh, on a un problème ici.</h2>
                <p>La page demandée n'existe pas. Il va falloir revoir la syntaxe.</p>
                <a href="/" class="btn">Retour</a>
            </div>
        </div>

    </body>
</html>