@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

::selection {
  color: rgb(31, 31, 31);
  background: #ffffff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #212121;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 280px;
}

#btn:hover, #log_out:hover, .search:hover {
  cursor: pointer;
}

.warframe {
  width: 30px;
  height: 30px;
}

.logo_content {
  padding-top: 10px;
}

.logo-name {
  margin-left: 8px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: flex-start;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo-name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 6px;
  left: 50%;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  margin: 5px 0;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 0;
  transform: translate(-50% , -50%);
  border-radius: 6px;
  height: 35px;
  width: 120px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%
}
.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #171717;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}
.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5 ease;
}

.sidebar ul li .bx-search:hover{
  background: #fff;
  color: #1d1b31;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.sidebar ul li a:hover, .sidebar ul li a.active-menu {
  color: #fff;
  background: #226584;
}

.sidebar ul li i{
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name{
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.sidebar.active .links_name{
  transition: 0s;
  opacity: 1;
  pointer-events: auto
}
.sidebar .profile_content{
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile {
  background: #171717;
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.4s ease;
}

body > div.sidebar.active > div.profile_content > div > div {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job {
  font-size: 12px;
  color: #893dbb;
}

.profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #171717;
}

.sidebar.active .profile #log_out {
  left: 88%;
}

.sidebar.active .profile #log_out {
  background: none
}

.landing {
  background: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;

  position: absolute;
  height: 60%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;

  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #171717;

  box-shadow: 0px 0px 15px -2px rgb(0, 0, 0);
}

.landing > canvas {
  top: 0px;
  right: 0px;
  display: block;
  position: absolute;
  z-index: 1;
}

.sidebar.active ~ .landing {
  z-index: 100;
}

.sidebar.active ~ .landing {
  width: calc(100% - 280px);
  left: 280px;
}

/* Barre de recherche */

.search-box {
  display: flex;
  align-items: center;
  align-content: space-around;

  position: relative;

  margin: 2% auto 0 auto;
  padding: 0 15px;
  width: 30%;
  border-radius: 30px;
  border: 1px solid #3694b3;
  transition: all .1s ease-in;
  background: #171717;
  z-index: 100;

  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.404);
}

.search-box:focus-within{
  outline: none;
}

.search-bar {
  padding: 0 20px;
  height: 45px;
  border: none;
  width: 90%;
  font-size: 16px;
  outline: none;
  background-color: #171717;
  color: #dcdcdc;
  z-index: 100;
}

.search-box > .bx-search {
  color: #216383;
  z-index: 100;
}

.search-box > .bx-x {
  display: none;
  color: #b12f2f;
  z-index: 100;
}

.search-box > .bx-x:hover {
  cursor: pointer;
}

/* Suggestions */

.suggestion {
  position: relative;

  visibility: hidden;

  transform: translateY(-20px);

  display: flex;
  align-items: center;
  justify-content: left;

  width: 30%;
  z-index: 99;
  margin: 0 auto;
  border-radius: 0 0 20px 20px;

  border-left: 1px solid #54c1e6;
  border-right: 1px solid #54c1e6;
  border-bottom: 1px solid #54c1e6;

  padding: 30px 60px;

  font-size: 20px;
  font-weight: 300;
  text-align: left;
  
  background-color: #171717af;
}

.suggestion:hover {
  cursor: default;
}

.suggestion > ul {
  z-index: 100;

  list-style-type: none;
}

.suggestion > ul > li {
  margin: 3px 0;
}

.suggestion > ul > li > a {
  z-index: 100;
  position: relative;
  padding: 5px 0;

  color: white;
  text-decoration: none;

  transition: all .1s ease-in;
}

.suggestion > ul > li > a:hover {
  cursor: pointer;
}

.suggestion > ul > li > a::after {

  content: '';
  width: 100%;
  height: 2px;
  background: #1f1f1f;
  position: absolute;
  bottom: 0;
  left: 0;
}

.suggestion > ul > li > a:hover, .suggestion > ul > li > a:focus {
  color: #3b95c2;
}

/* Page principale */

.main-logo {
  margin: 50px 0;
}

.main-logo-text {
  color: white;
}

.links {
  position: relative;
  z-index: 100;
  color: white;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.links:hover {
  cursor: pointer;
}

.separator {
  color: #216383;
  font-weight: 300;
}

/* HOME */

.home {
  background: #171717;
  top: 60%;
  height: 60%;
  color: #171717;
}